<div class="eventContainer">
  <div class="ListEvent">
    <div class="eventsListContainer">
      <div class="oneEvent" *ngFor="let ev of ListOfEvents">
          <div class="HeaderOfEventPicNameAndDate">
             <div class="dateAndName"><h1>{{ev.getName()}}</h1> <h2> {{ev.getDate()}}</h2></div>
          </div>
          <div class="pic"><img src={{ev.getPic()}} />
          <div class="settings">
            <button type="button" class="btn btn-danger" (click)=(deleteEvent(ev.getId()))>D</button>
            <button type="button" class="btn btn-warning" (click)=(update(ev.getId()))>U</button>
          </div>
          </div>
          <div class="description"><p>{{ev.getDiscription()}}</p></div>
      </div>
    </div>
  </div>
  <div class="addEvent">
    <div class="FormContainer">
      <div class="header">
        <h1>Add Event</h1>
      </div>
      <div class="inPutContainerPic">
        <div class="imgContainer">
          <img src="../assets/pics/iStock_000040536788_Small-1260x840.jpg" />
        </div>
      </div>
      <div class="inPutContainer">
        <div class="inputBorder"><input type="text"  id="name" class="form-control" required placeholder="Event Name"
            aria-label="Event Name" aria-describedby="basic-addon2" [(ngModel)]="ev.name"></div>
      </div>
      <div class="inPutContainer">  
        <div class="inputBorder"><input type="date"  id="date" class="form-control" required placeholder="Date" aria-label="Date"
            aria-describedby="basic-addon2" [(ngModel)]="ev.date"></div>
      </div>
      <div class="inPutContainer">
        <div class="inputBorder"><input type="text"  id="Discription" class="form-control" required placeholder="description"
            aria-label="description" aria-describedby="basic-addon2" [(ngModel)]="ev.Discription"></div>
      </div>
      <div class="inPutContainer" *ngIf="updateEvent==true">
        <button  type="button" class="btn btn-primary" (click)="DoUpdate()">Update</button>
        <button  type="button" class="btn btn-dark" (click)="cancelUpdate()">Cancel</button>
      </div>
      <div class="inPutContainer" *ngIf="updateEvent==false"><button  type="button" class="btn btn-primary" (click)="addEvent()">Add</button>

    </div>
  </div>
</div>